@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
  color: #262729;
}

ol,
ul,
li {
  list-style: none;
  color: #262729;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
  color: #262729;
}

p,
span {
  color: #262729;
}

html,
body {
  line-height: 1.25;
  font-weight: 500;
  font-family: Montserrat;
}

._container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 3rem;
}

button:hover {
  cursor: pointer;
}

.header .header_container {
  width: 100%;
  display: flex;
  min-height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}
.header .header_container .menu__icon {
  width: 38px;
  height: 24px;
  border: none;
  z-index: 100;
  position: relative;
  display: none;
}
.header .header_container .menu__icon span {
  position: absolute;
  width: 32px;
  height: 3px;
  display: none;
  left: 0px;
  background-color: #262729;
}
.header .header_container .menu__icon span:nth-child(1) {
  transform: translateY(-8px);
}
.header .header_container .menu__icon span:nth-child(3) {
  transform: translateY(8px);
}
.header .header_container__left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header_container .header_logo:hover {
  cursor: pointer;
}
.header .header_container .header__menu {
  color: #262729;
  font-weight: 600;
}
.header .header_container .header__menu .menu__list {
  display: flex;
  gap: 40px;
  color: #262729;
}
.header .header_container .header__menu .menu__list .menu__link {
  color: #262729;
}
.header .header__right {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}
.header .header__right ._selector {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EE685F;
}
.header .header__right ._selector span {
  color: #EE685F;
  border-bottom: 2px dotted;
}

.hero_section {
  padding-bottom: 100px;
}

.hero {
  padding: 70px;
  background: url("/img/assets/hero_bg.jpg");
  background-size: cover;
  border-radius: 20px;
  max-height: 500px;
}
.hero__content {
  width: 50%;
}
.hero__content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero__content p {
  font-size: 24px;
  font-weight: 500;
}

.hero_action_block {
  margin: -36px auto 0 auto;
  padding: 16px;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  width: 570px;
  height: 70px;
  border-radius: 36px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.hero_action_block .location {
  width: 185px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero_action_block .location img {
  width: 24px;
  height: 24px;
}
.hero_action_block .location h3 {
  font-size: 16px;
  font-weight: 400;
  color: #262729;
}
.hero_action_block .location input {
  font-weight: 400;
  font-size: 16px;
}
.hero_action_block .location input input:focus {
  border: none;
  border: 1px solid #2A90D9;
}

.calendar {
  border-left: 2px solid #EBEBEB;
  padding-left: 20px;
  display: flex;
  width: 185px;
  align-items: center;
  height: 44px;
  gap: 8px;
}
.calendar img {
  width: 24px;
  height: 24px;
}
.calendar h3 {
  font-size: 16px;
  font-weight: 400;
  color: #262729;
}
.calendar input {
  font-weight: 400;
  font-size: 16px;
}
.calendar input input:focus {
  border: none;
  border: 1px solid #2A90D9;
}

.search_button {
  background: #fff;
}

.search__circle {
  display: flex;
  width: 40px;
  height: 40px;
  background: #EE685F;
  border-radius: 50px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.search__circle img {
  width: 16px;
  height: 16px;
}

@media (max-width: 992px) {
  .hero_section {
    padding: 0;
  }
  .hero_section .hero {
    padding: 32px;
    margin: 0;
    border-radius: 0;
  }
  .hero_section .hero__content h1 {
    font-size: 32px;
  }
  .hero_section .hero__content p {
    width: 75%;
  }
}
.section_about_us {
  background-color: #F7F7F7;
  padding: 70px 0;
}
.section_about_us h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}
.section_about_us p {
  padding-top: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  text-align: center;
  width: 570px;
  margin: 0 auto;
}

.info_cards {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.info_cards .adveteges {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info_cards .adveteges .cirle_icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #d6e7f2;
  padding: 24px;
  margin: 0 auto;
}
.info_cards .adveteges h3 {
  padding-top: 12px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.info_cards .adveteges p {
  padding: 0;
  font-size: 16px;
  color: #262729;
  text-align: center;
  width: 270px;
}

.special_offers__section .special_offers_block {
  padding: 100px 0px;
}
.special_offers__section .special_offers_block h2 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}
.special_offers__section .special_offers_block .hotel_room__container {
  display: flex;
  justify-content: space-around;
}

.hotel_room__block {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  border: 1px solid #E7E6EB;
  border-radius: 12px;
}
.hotel_room__block .hotel_room_picture {
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 24px;
}
.hotel_room__block .hotel_room_picture .rating_block {
  display: flex;
  justify-content: space-between;
}
.hotel_room__block .hotel_room_picture .rating_block .stars-rating {
  border: none;
  padding: auto 8px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 72px;
  height: 32px;
  border-radius: 8px;
}
.hotel_room__block .hotel_room_picture .rating_block .stars-rating span {
  font-size: 16px;
  font-weight: 400;
  font-family: montserrat;
}
.hotel_room__block .hotel_room_picture .rating_block .favorite-button {
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.hotel_room__block .hotel_room__title__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hotel_room__block .hotel_room__title__block .hotel_room__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hotel_room__block .hotel_room__title__block .hotel_room__title .hotel_room__name {
  font-size: 22px;
  font-weight: 500;
}
.hotel_room__block .hotel_room__title__block .hotel_room__title .hotel_room__convenience {
  color: #858585;
}
.hotel_room__block .hotel_room__title__block .hotel_room__title .hotel_room__booking {
  font-size: 18px;
}
.hotel_room__block .hotel_room__title__block .hotel_room__price .hotel_room__price__cost {
  font-size: 28px;
  font-weight: 500;
  color: #2A90D9;
}
.hotel_room__block .hotel_room__title__block .hotel_room__price .hotel_room__price__night {
  color: #2A90D9;
}
.hotel_room__block .hotel_room__title__block .hotel_room__parameter {
  display: flex;
  justify-content: space-between;
}
.hotel_room__block .hotel_room__title__block .hotel_room__parameter__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

h2 {
  display: block;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 60px;
}

.reviews__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.reviews__container .reviews__btn__back {
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
  background-color: #E7E6EB;
}
.reviews__container .reviews__block {
  font-weight: 400;
  font-size: 16px;
}
.reviews__container .reviews__block .reviews__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.reviews__container .reviews__block .reviews__author__block {
  font-style: italic;
  margin-top: 16px;
}
.reviews__container .reviews__block .reviews__author__block span:first-child {
  font-weight: 600;
}
.reviews__container .reviews__btn__next {
  min-width: 50px;
  min-height: 50px;
  border-radius: 10px;
  background-color: #EE685F;
}
.reviews__container .reviews__btn__next img {
  mask-image: url(/img/icons/arrow.svg);
  rotate: 180deg;
}

.reviews__btn__more {
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: montserrat;
  background-color: #EE685F;
  border-radius: 10px;
  padding: 16px 80px;
  margin: 48px auto;
}

.recent_posts__section {
  padding-bottom: 100px;
}

h2 {
  display: block;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 60px;
}

.posts__container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}
.posts__container .post__block {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 370px;
}
.posts__container .post__block__picture {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  height: 252px;
  margin-bottom: 24px;
}
.posts__container .post__block__text_content .post__datetime__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  column-gap: 12px;
  font-size: 14px;
  font-weight: 400;
}
.posts__container .post__block__text_content .post__datetime__block .time__block {
  color: #2A90D9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.posts__container .post__block__text_content .post__datetime__block .time__block::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #2A90D9;
  /* Колір іконки */
  -webkit-mask-image: url("/img/icons/time.svg");
  /* Маска для Safari */
  mask-image: url("/img/icons/time.svg");
  /* Маска для інших браузерів */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-right: 8px;
}
.posts__container .post__block__text_content .post__title__block h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.posts__container .post__block__text_content .post__title__block p {
  font-weight: 400;
}

.footer {
  background-color: #F3F2F0;
  padding: 60px 0 20px 0;
}
.footer .footer_wrapper .footer_wrapper__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
  border-bottom: 1px solid #999999;
}
.footer .footer_wrapper .footer_wrapper__top .footer_title_of_section__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer_wrapper .footer_wrapper__top .footer_title_of_section__block h4 {
  font-weight: 600;
  font-size: 16px;
}
.footer .footer_wrapper .footer_wrapper__top .footer__newsletter h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer .footer_wrapper .footer_wrapper__top .footer__newsletter__block {
  position: relative;
}
.footer .footer_wrapper .footer_wrapper__top .footer__newsletter__block form {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}
.footer .footer_wrapper .footer_wrapper__top .footer__newsletter__input {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #EE685F;
  width: 20vw;
  height: 40px;
}
.footer .footer_wrapper .footer_wrapper__top .footer__newsletter__input__button {
  position: absolute;
  left: calc(20vw - 40px);
  width: 40px;
  height: 40px;
  background-color: #EE685F;
  border-radius: 0px 10px 10px 0px;
}
.footer .footer_wrapper .footer_wrapper__top .footer__newsletter__input__button__button:hover {
  cursor: pointer;
}
.footer .footer_wrapper .footer_wrapper__botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  height: 40px;
}
.footer .footer_wrapper .footer_wrapper__botton .page_autor_container {
  font-size: 14px;
  font-weight: 400;
}
.footer .footer_wrapper .footer_wrapper__botton .page_autor_container span:last-child {
  font-weight: 600;
  color: #2A90D9;
  text-decoration: underline;
}
.footer .footer_wrapper .footer_wrapper__botton .soc-media_container {
  display: flex;
  gap: 12px;
}
.footer .footer_wrapper .footer_wrapper__botton .soc-media_container .soc-media_item {
  display: block;
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=main.css.map */
