
$text-color: #262729;
$color-gray-900: #333;
$color-gray-700: #858585;
$color-gray-300: #E7E6EB;
$color-blue-100: #d6e7f2;
$color-interaction: #EE685F;
$color-accent: #2A90D9;

$color-white: #fff;
$color-gray-100: #F7F7F7;